.font1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.font2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.font3 {
    color: #404040;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.navanactive {
    color: #707070;;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navactive {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navicon {
    width: 28px;
    height: 28px;
}
.navside {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navlogin {
    display: flex;
    width: 167px;
    height: 61px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.searchfield {
    display: flex;
    width: 912px;
    height: 78px;
    padding: 21px 46px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #AAA8A8;
}
.searchtext {
    color: #AAA;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
.form-control:focus {
    box-shadow: none;
}
.form-control::placeholder {
    color: #AAA;
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
