/* .container {
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    height: 180px;
    text-align: center;
} */
.font {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.navanactive {
    color: #707070;;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navactive {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navicon {
    width: 28px;
    height: 28px;
}
.navside {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.navlogin {
    display: flex;
    width: 167px;
    height: 61px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.searchfield {
    display: flex;
    width: 912px;
    height: 78px;
    padding: 21px 46px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #AAA8A8;
}
/* .searchtext {
    color: #AAA;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
} */
/* form {
    background: grey;
    border-radius: 25px;
    position: relative;
}
input {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
    font-size: 20px;
    padding: 8 px 40 px 8 px 20 px;
    border: none;
    box-shadow: 0 5px 8px 3px black;
}
input:focus{
    outline: none;
}
button{
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 18px;
}
button i {
    color: rgb(93, 94, 95);
}
button:hover i {
    color: rgb(162, 163, 163);
} */
