.mnav {
    padding-left: 132px;
    padding-top: 60px;
}
.navbutt {
    border-color: #FFF;
}
.elmnav {
    padding-left: 6px;
    padding-right: 6px;
}
.bg-img {
    width: 1903px;
    height: 800px;
    flex-shrink: 0;
    border-radius: 5px;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.button {
    background-color: #FFF;
}