.mnav {
    padding-left: 132px;
    padding-top: 92px;
}
.font1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.font2 {
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.font3 {
    color: #404040;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.one {
    color: #AAA;
}
.one::placeholder {
    color: #AAA;
}
.searchfield {
    display: flex;
    width: 912px;
    height: 78px;
    padding: 21px 46px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 80px;
    border: 1px solid #AAA8A8;
}
.form-control:focus {
    box-shadow: none;
}
.form-control::placeholder {
    font-size: 24px;
    font-style: normal;
    font-weight: 350;
    line-height: normal;
}
.borderfileupload {
    display: flex;
    width: 596px;
    height: 491px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}
@media (min-width: 992px) {
    .col-md-offset-1 {
       margin-left: 12%; /* <- your value here */
    }
}
@media (min-width: 992px) {
    .col-md-offset-2 {
       margin-left: 20%; /* <- your value here */
    }
}

.font1input {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 490px;
    line-height: normal;
}
.borderinputtitle {
    display: flex;
    width: 1000px;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #B4B4B4;
}
.borderinputtitle1 {
    display: flex;
    width: 352px;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #B4B4B4;
}
.one {
    color: #AAA;
}
.one::placeholder {
    color: #AAA;
}
.three {
    color: #5B5B5B;
}
.three::placeholder {
    color: #5B5B5B;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
}